@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Kantumruy Pro';
}

/* Header Start */

:root {
	--primary-color: #232536;
	--secondary-color: #ffd050;
	--tertiary-color: #592ea9;
	--background-color: #f5f5f5;
	--error-container-color: #ffdad6;
	--medium-gray-color: #6d6e76;
	--text-color: #111111;
	--light-gray-color: #f4f4f4;
	--light-yellow-color: #fbf6ea;
	--lavender-color: #f4f0f8;
	--error-color: #ba1a1a;
}

.background-primary-color {
	background-color: var(--primary-color);
}

.background-secondary-color {
	background-color: var(--secondary-color);
}

.text-primary-color {
	color: var(--primary-color);
}

.text-secondary-color {
	color: var(--secondary-color);
}

.text-tertiary-color {
	color: var(--tertiary-color);
}

.text-medium-gray-color {
	color: var(--medium-gray-color);
}

.style-footer {
	display: flex;
	justify-content: space-between;
}

@media (min-width: 960px) {
	.logo-image {
		width: 50%;
	}
	.slice-show{
		height: 500px !important;
	}
}

.style-navbar:hover {
	color: #ffd050;
}

.btn-shop-new:hover{
	color: var(--secondary-color);
  background-color: var(--primary-color) ;
  transition: background-color 0.5s ease;
}
/* Service style */

.icon-size {
	font-size: 40px;
	color: var(--tertiary-color);
}

@media (min-width: 960px) {
	.service-style{
		border: 1px solid rgb(223, 223, 236);
	}
}

.delivery-title {
	font-size: 14px;
	font-weight: 450;
	text-transform: uppercase;
}

.delivery-description {
	font-size: 14px;
}

.slide-style {
	bottom: 3.25rem;
	left: 15%;
}

/* Horizontal Category */

@keyframes infiniteScroll {
	0% {
			transform: translateX(0);
	}
	100% {
			transform: translateX(-50%);
	}
}

.horizontal-scrolling-wrapper {
	overflow: hidden; 
	position: relative;
}

.horizontal-scrolling-items {
	display: flex;
	font-size: 40px;
	animation-name: infiniteScroll;
	animation-duration: 10s; 
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.border {
	min-width: 160px; 
}

/* Popular Product */

.popular-title-style {
	text-align: center;
	font-size: 32px;
	font-weight: 600;
	margin-top: 50px;
	margin-bottom: 40px;
}

.card-show-wrapper {
	width: 100%;
	height: 680px;
	border-radius: 8px;
	padding: 1.5rem;
	background: white;
	position: relative;
	display: flex;
	align-items: flex-end;
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(black, 0.5);
}

.card-show-wrapper:hover {
	&:before {
		opacity: 1;
	}
	.info {
		text-decoration: underline;
		color: var(--primary-color);
		cursor: pointer;
		opacity: 1;
		transform: translateY(0px);
	}
}

.card-show-wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background: rgba(black, 0.6);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}

.image-show-wrapper {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 8px;
}

.card-show-wrapper-horizontal {
	height: 330px;
	border-radius: 8px;
	padding: 1.5rem;
	background: white;
	position: relative;
	display: flex;
	align-items: flex-end;
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(black, 0.5);
	cursor: pointer;
}

.card-show-wrapper-horizontal:hover {
	.info {
		text-decoration: underline;
		color: var(--primary-color);
		cursor: pointer;
		opacity: 1;
		transform: translateY(0px);
	}
}

.image-show-wrapper-horizontal {
	width: 502px;
	height: 330px;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 8px;
}

.info {
	position: relative;
	z-index: 3;
	color: white;
	opacity: 1;
	transform: translateY(10px);
	transition: 0.5s;
	h1 {
		margin: 0px;
	}
	p {
		letter-spacing: 1px;
		font-size: 15px;
		margin-top: 8px;
	}
	button {
		margin-top: 15px;
		padding: 10px 15px;
		outline: none;
		border: none;
		border-radius: 8px;
		background: white;
		color: black;
		font-weight: 500;
		cursor: pointer;
		transition: 0.4s ease;
		opacity: 0.5;
	}
	button:hover {
		opacity: 1;
		background-color: #ffd050;
		color: rgb(0, 0, 0);
	}
}

/* Feature Product */
.featured-product {
	margin: 50px 0px;
}

.discount-style {
	background-color: #f3de6d;
	padding-top: 56px;
	border-radius: 8px;
}

.discount-btn {
	margin-top: 56px;
	padding: 10px 15px;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 500;
	background-color: var(--primary-color);
	color: white;
}

.discount-btn:hover {
	transition: 0.8s;
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.title-discount {
	color: #be4646;
	font-size: 14px;
	font-weight: 500;
}


.active-tab {
	border-bottom: 2px solid #f3de6d;
	color: #f3de6d; 
}

.active-tab:hover{
	color: #f3de6d;
}

.title-featured-product{
	font-size: 24px;
	font-weight: 450;
}

.card-featured-product{
  border-radius: 8px;
  cursor: pointer;
	padding: 10px;
}

.description-card-featured{
	font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}

.price-card{
	color: #2DA5F3;
}

.background-heart-icon {
	width: 46px;
	height: 46px;
	background-color: var(--primary-color);
	color: white;
	justify-content: center;
	display: flex;
	align-items: center;
	border-radius: 50%;
}

.background-cart-icon {
	width: 46px;
	height: 46px;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	justify-content: center;
	display: flex;
	align-items: center;
	border-radius: 50%;
}

.card-featured-product {
	position: relative; 
}

.image-container {
	position: relative; 
}

.image-card {
	display: block; 
	transition: opacity 0.3s ease; 
	width: 100%;
}

.icon-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	display: none; 
	flex-direction: row;
	gap: 10px; 
}

.image-container:hover .icon-overlay {
	display: flex; 
}

/* Change image opacity when hovering over icons */

.image-container:hover .image-card,
.icon-overlay:hover ~ .image-card {
	opacity: 0.5; 
}

.background-heart-icon:hover,
.background-cart-icon:hover {
	transform: scale(1.1); 
}


/* New Feed */

.introducing-btn{
	font-size: 14px;
	font-weight: 600;
	background-color: var(--primary-color);
	color: white;
	padding: 6px 12px;
	border-radius: 6px;
}

.introducing-btn-new{
	font-size: 14px;
	font-weight: 600;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	padding: 6px 12px;
	border-radius: 6px;
}

.introducing-title{
	margin-top: 8px;
	font-size: 32px;
	font-weight: 600;
}

.introducing-title-new{
	margin-top: 8px;
	font-size: 32px;
	font-weight: 600;
	color: white;
}

.introducing-description{
	margin-top: 10px;
	font-size: 16px;
	font-weight: 400;
}

.introducing-description-new{
	margin-top: 10px;
	font-size: 16px;
	font-weight: 400;
	color: var(--light-gray-color);
}

.btn-introducing-shop-new{
	background-color: var(--primary-color);
	color: white;
	padding: 10px 15px;
	border-radius: 8px;
	margin-top: 20px;
	font-size: 14px;
	font-weight: 550;
}

.btn-introducing-new-shop{
	background-color: var(--secondary-color);
	color: var(--primary-color);
	padding: 10px 15px;
	border-radius: 8px;
	margin-top: 20px;
	font-size: 14px;
	font-weight: 550;
}

.bg-homepod{
	background-color: #F2F4F5;
	border-radius: 8px;
}

.bg-Xiaomi{
	background-color: var(--primary-color);
	border-radius: 8px;
}
